@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

.title {
  font-family: 'Kaisei Decol', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
}

.grey-border {
  border-color: grey;
}
